* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

/* Utility class */
.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.center {
    text-align: center;
}

/* Header */
.main-header {
    display: flex;
    align-items: baseline;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

/* Movies Wrapper */
.movies-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 200px;
    width: 200px;
    background-color: tomato;
    margin-bottom: 18px;
}

.fade-in {
    opacity: 0;
    transition: .4s;
}
